#slide-content h3 {
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 3vw;
}

@media only screen and (max-width: 500px) {
	#slide-content h3 {
		font-size: 2em;
	}
	#slide-content h3 small {
		visibility: hidden;
	}
	.tl-solution {
		text-align: center;
		margin-bottom: 30px;
	}
}

@media only screen and (max-height: 500px) {
	#slide-content h3 {
		visibility: hidden;
	}
	#slide-content h3 small {
		visibility: hidden;
	}
}

#slide-content h3 small {
  display: block;
}

#slide-content h3.enter {
  animation: fadeInDown 2s;
  animation-fill-mode: forwards;
}

#slide-content h3.exit {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

#slide-content h3 small.enter {
  animation: fadeInDown 3s;
  animation-fill-mode: forwards;
}

#slide-content h3 small.exit {
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 300%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 300%, 0);
  }
}
