html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Raleway", sans-serif;
  font-size: 110%;
  color: #777;
}

.parallax {
  perspective: 1px;
  height: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-3px) scale(4);
}

.tl-home {
  min-height: 100%;
  background-color: #c8ebfc;
  padding: 0px !important;
}

.tl-home-background {
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-position: top center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 7px solid #000;
}
.tl-home-background img.lamp {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -34px;
  margin-top: 0px;
}

.tl-home-background .tl-main-logo {
  position: absolute;
  top: 120px;
  left: 50%;
  margin-left: -92px;
  margin-top: 0px;
}
.tl-home-background .skyline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  bottom: 0px;
  background-image: url(../images/sydney_small.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.headlines {
  position: absolute;
  height: 90px;
  text-align: center;
  right: 0;
  top: 40%;
  left: 0;
  margin-top: -45px;
}

.tl-request-demo-btn {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background: #206b60;
  border-radius: 5px;
  padding: 10px;
  left: 50%;
  top: 55%;
  margin-left: -75px;
  margin-top: -25px;
}

.tl-request-demo-btn:hover {
  color: #fff;
  background: #206b60;
  text-decoration: none;
  box-shadow: 2px 2px 3px #6bb5ab;
}

.tl-page {
  background: #fff;
  /* min-height: 100vh; */
  background: linear-gradient(to bottom, #fff 0%, rgb(250, 250, 250) 100%);
  /* border-bottom: 2px solid #eee; */
}

.tl-page-header {
  text-align: center;
  font-weight: 900;
  color: #0098d9;
  transition: 500ms;
  border: 5px solid transparent;
}

.tl-page-header:hover {
  transition: 500ms;
  border: 1px solid transparent;
}

.tl-solutions-page {
  padding-top: 100px;
}

.tl-solution {
  margin-top: 50px;
}
.tl-solution .icon {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  line-height: 150px;
  text-align: center;
  margin-bottom: 10px;
  transition: 500ms;
  border: 1px solid #777;
}
.tl-solution .icon:hover {
  transition: 500ms;
  border: 5px solid #6bb5ab;
}

.tl-solution img {
  width: 90px;
}

.tl-solution div {
  display: inline-block;
}

.tl-solution div ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.tl-solution div ul li {
  padding: 5px;
}

.tl-customer-focus-page {
  padding-top: 30px;
  background: linear-gradient(to bottom, rgb(250, 250, 250) 100%, #fff 0%);
}

.customer-focus-card {
  padding: 20px;
  background: #fff;
  border: 1px solid #aaa;
  margin: 10px;
  box-shadow: 2px 2px 5px #bbb;
}

.customer-focus-card .header h3 {
  display: inline-block;
  padding-left: 10px;
  /* text-decoration: underline; */
}

.customer-focus-card .body h3 {
  font-size: 14px;
  margin-top: 10px;
}

.tl-customer-says-page {
  padding-top: 100px;
}

.tl-customer-say.icon {
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
  margin-bottom: 10px;
}

.tl-partners-say-page {
  padding-top: 50px;
  padding-bottom: 50px;
}

.partners-say-card {
}

.partners-say-card .testimonial {
  background: #d7f0fc;
  padding: 15px;
  min-height: 300px;
  box-shadow: 2px 2px 5px #bbb;
}

.partners-say-card .profile {
  position: relative;
}

.partners-say-card .profile .icon {
  position: absolute;
  background: #fff;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  top: -20px;
  left: -10px;
}

.partners-say-card .profile .name {
  margin-left: 50px;
  font-weight: bold;
}

.partners-say-card .profile .company {
  color: #777;
  font-size: 70%;
}

.tl-about-us-page {
  padding-top: 100px;
  min-height: 100vh;
  /* background: #0A2E44; */
  color: #777;
  /* background: linear-gradient(to bottom, #3186B9 0%,#0A2E44 100%); */
}

.tl-team {
  text-align: center;
  margin-top: 30px;
}

.tl-team .photo img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  transition: 500ms;
  border: 5px solid transparent;
}

.tl-team .photo img:hover {
  transition: 500ms;
  border: 0px solid transparent;
}

.tl-team .name {
  font-weight: 900;
}

.tl-team .profile {
  font-size: 80%;
}

.tl-team .social {
  text-align: center;
}

.tl-team .social .icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.tl-footer {
  text-align: center;
  font-size: 70%;
}

.tl-footer a {
  color: #777;
  font-size: 130%;
  margin-bottom: 10px;
}

/* modal */
.modal .modal-header {
}
